/* ==================== 工具类样式 ==================== */

/* 间距工具类 */
.mb-16 {
  margin-bottom: 1rem;
}

/* ==================== 卡片样式 ==================== */

/* 卡片margin-top样式 */
.card-mt-16 {
  margin-top: 1rem;
}

/* 卡片清除底部margin样式 */
.card-clear-mb .el-card__body {
  padding-bottom: 2px;
}

/* ==================== 容器样式 ==================== */

/* 分页容器样式 */
.pagination-container {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* 操作容器样式 */
.operation-container {
  padding-bottom: 1rem;
}

/* ==================== 文本样式 ==================== */

/* 省略文本样式 */
.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

/* ==================== 卡片向上浮动hover样式 ==================== */
.card-float-up {
  /* 过渡效果，让浮动更平滑 */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* 鼠标悬停时触发浮动效果 */
.card-float-up:hover {
  transform: translateY(-4px); /* 向上浮动 10px，可根据需求调整 */
  box-shadow: var(--el-box-shadow); /* 同时增加阴影，增加浮动感 */
}
