@import '@/styles/theme.css'; /* 主题样式 */
@import '@/styles/commonAnimation.css'; /* 公共动画样式 */
@import '@/styles/nprogress.css'; /* NProgress 进度条样式 */
@import '@/styles/common.scss'; /* 公共样式 */

/* 全局重置样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
